table
  width: calc(100% - 1rem)
  font-size: 1.4rem
  color: $col-font
  margin: 0 0.5rem

tr
  height: 6.5rem
  line-height: 6.5rem
  background: $col-cards
  border: 1px solid $col-table-header

tr:first-child
  font-size: 1.2rem
  height: 5rem
  line-height: 5rem
  background: $col-table-header
  color: $col-table-font

td, th
  padding: 0 1rem

td:first-child, th:first-child
  padding-left: 3rem

th
  text-align: left
  text-transform: uppercase

th:first-child
  border-top-left-radius: $border-radius

th:last-child
  border-top-right-radius: $border-radius

tr:last-child td:first-child
  border-bottom-left-radius: $border-radius

tr:last-child td:last-child
  border-bottom-right-radius: $border-radius

td:first-child, td:nth-child(2)
  color: $col-font-dark

table .marker
  height: 4rem
  width: 4rem
  line-height: 4rem
  display: inline-block
  vertical-align: middle
  margin-right: 2rem

table span.mobile-label
  display: none

// responsive styles
@media #{$max-tablet}
  tr:first-child
    display: none

  table, tbody, tr, td
    display: block

  table
    width: calc(100% - 1rem)

  tbody, tr
    width: 100%

  td
    width: calc(100% - 8rem)
    line-height: 2rem
    padding-left: 7rem
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

  tr
    height: 100%
    position: relative
    padding: 1rem 0

  td:first-child
    width: calc(100% - 2rem)
    padding-left: 1rem

  td:last-child
    position: absolute
    top: 0.5rem
    right: 0.5rem
    display: inline
    width: auto
    padding-left: 1rem

  table span.mobile-label
    display: inline
