extends layout

block content
  h1 Dashboard
  h2 Welcome to Gojobs job seeker dashboard
  
  .row
    section.card#profile
      .info
        img(src="images/candidate.jpg" alt="Portrait shot of candidate")
        h1 Simon Weller
        h2 Frontend Developer
      .history
        div
          span.label Previous
          span.position oBrands GmbH
        div
          span.label Education
          span.position London School of Economics
    section.card#schedule
      h1 Interview Schedule
      i.fa.fa-ellipsis-h.menu(aria-hidden="true")
      time(datetime="2016-07-21") 21 Jul, 2016
      .appointment
        .marker.ot OT
        .details
          span.area Online Travel & Ticketing Site
          span.position Senior UI/UX Designer
          time(datetime="08:00") 08:00 AM
      .appointment
        .marker.os OS
        .details
          span.area Online Shopping e-commerce
          span.position Senior UI/UX Designer
          time(datetime="13:00") 01:00 PM
    section.card#status
      h1 Applying status
      i.fa.fa-ellipsis-h.menu(aria-hidden="true")      
      .chart.hired(data-fill="2" data-max="4")
        .chart.interviewed(data-fill="4" data-max="6")
        .chart.rejected(data-fill="5" data-max="7")
        .donut-hole
      .legend
        .legend-hired
          .legend-marker
          .legend-text
            .stats 2 of 13
            | Hired
        .legend-interviewed
          .legend-marker
          .legend-text
            .stats 4 of 13
            | Interviewed
        .legend-rejected
          .legend-marker
          .legend-text
            .stats 5 of 13
            | Rejected
  table
    tr
      th Company
      th Jobs
      th End of Application
      th Location
      th
    tr
      td
        .marker.os OS 
        | Online Shopping e-commerce
      td Java Developer
      td 
        time(datetime="2016-06-27") 27 Jun, 2016
      td Bali
      td 
        i.fa.fa-ellipsis-h.menu(aria-hidden="true")
    tr
      td 
        .marker.ds DS
        | Digital Solutions Company
      td Backend Developer (Java or PHP)
      td 
        time(datetime="2016-06-24") 24 Jun, 2016
      td Jakarta
      td 
        i.fa.fa-ellipsis-h.menu(aria-hidden="true")
    tr
      td
        .marker.ds DS 
        |Digital Solutions Company
      td Front-end Developer
      td 
        time(datetime="2016-06-25") 25 Jun, 2016
      td Jakarta
      td 
        i.fa.fa-ellipsis-h.menu(aria-hidden="true")
    tr
      td 
        .marker.ot OT
        | Online Travel & Ticketing Site
      td UI/UX Designer
      td 
        time(datetime="2016-07-20") 20 Jul, 2016
      td Jakarta
      td 
        i.fa.fa-ellipsis-h.menu(aria-hidden="true")            
    tr
      td 
        .marker.mb MB
        | Malaysian Based Software Developer
      td Java Developer
      td 
        time(datetime="2016-08-01") 1 Aug, 2016
      td Surabaya
      td 
        i.fa.fa-ellipsis-h.menu(aria-hidden="true")            
    
      
