doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1")
  body
    .sidenav
      a.brand(href="#") GoJobs
      nav
        a.active(href="#") 
          i.fa.fa-home(aria-hidden="true")
          | Home
        a(href="#") 
          i.fa.fa-newspaper-o(aria-hidden="true")
          | Applied History
        a(href="#")
          i.fa.fa-bookmark-o(aria-hidden="true")
          | Jobs Bookmarks
        a(href="#") 
          i.fa.fa-calendar(aria-hidden="true")
          | Interview Schedule
        a(href="#") 
          i.fa.fa-user-o(aria-hidden="true")
          | Profile      
        a(href="#") 
          i.fa.fa-cog(aria-hidden="true")
          | Settings

    .container          
      .topnav
        .search
          i.fa.fa-search(aria-hidden="true")
          | Type here for search
        .menu
          | + Add
          i.notifications.fa.fa-bell-o(aria-hidden="true")
          img.candidate(src="images/candidate.jpg" alt="Portrait shot of candidate")
          i.dropdown.fa.fa-caret-down(aria-hidden="true")

      .main
        block content
