html
  font-size: $base-font-size
  font-family: sans-serif

body>*
  float: left
  height: 100%
  min-height: 100vh

.sidenav
  width: 28rem
  background: $col-sb

.main
  width: calc(100% - 28rem)
  background: $col-main-background
  font-size: 1.4rem

.main i
  font-size: 1.6rem
