html
  font-size: $base-font-size
  font-family: sans-serif
  
body>*
  float: left
  height: 100%
  min-height: 100vh

.sidenav
  width: 280px
  background: $col-sb

.main
  width: calc(100% - 280px)
  background: blue
