.main h1
  font-size: 2.3rem
  font-weight: normal
  color: $col-contrast
  margin: 1.25rem 0.5rem

.main h2
  margin: 1.25rem 0.5rem
  color: $col-font
  font-weight: normal

.main .row
  display: flex
  justify-content: space-between
  margin-bottom: 1rem

.main .card
  border-radius: 5px
  margin: 1rem 0.5rem
  min-height: 33rem
  flex-basis: 31%
  background: $col-cards

.main .card.card-wide
  flex-basis: 100%
