// sidebar colors
$col-sb: #2C293D
$col-sb-dark: #29263A
$col-sb-contrast: #8CC749
$col-sb-font: #7E7B8B
$col-sb-heading: #FCFCFC

// main section colors
$col-background: #F4F6F9
$col-cards: #FFFFFF
$col-font-dark: #7B858F
$col-font: #9099A1
$col-font-light: #CFD3D7
$col-font-ultralight: #F0F2F6
$col-contrast: #6D3BCD
$col-rejected: #D0021B
$col-interviewed: #F5A623

// marker colors
$col-marker-ot: #F58F23
$col-marker-os: #5295E3
$col-marker-ds: #7ED321
$col-marker-mb: #617EFF

// Table colors
$col-table-header: #EAEDF3
$col-table-font: #AFB6C5

$topnav-height: 7.5rem
$border-radius: 0.5rem

$spacing: 10px
$base-font-size: 10px

// breakpoints
$max-laptop: "(max-width:1350px)"
$max-tablet: "(max-width:910px)"
$mobile: "(max-width:520px)"
